a{
  text-decoration: none;
  color: white;
}
.iniciarSideBar {
  color: white;
}
.offcanvas{
  overflow: hidden;
  background-image: linear-gradient(to top,Aqua,Navy);
  color:#fff;
}
.offcanvas-body{
  padding: 0px 0px;
}
.concluido{
  color: DodgerBlue;
}
.linha{
  position: relative;
  text-shadow: 0 0 12px black;
}
svg{
  filter:drop-shadow(0 0 12px black);
}
@media (max-width:400px) {
  .offcanvas-start{
    width: 150px;
  }
  .elemento{
    position: relative;
    margin: 2px 5px;
  }
  .icone{
    width: 50px;
    height: 50px;
  }
  .titulo{
    font-size: 15px;
    left: -22px;
    top:15px;
  }
  .linha{
    max-width: 160px;
  }
  .subelemento{
    position: relative;
    left: 30px;
    top: -8px;
    margin: 3px 0px;
  }
  .subtitulo{
    font-size: 10px;
    top:-7px;
    left: -10px;
  }
}
@media (min-width:401px) {
  @media (max-width:799px) {
    .offcanvas-start{
      width: 190px;
    }
    .elemento{
      position: relative;
      margin: 10px 0px;
      left: -10px;
    }
    .titulo{
      font-size: 15px;
      left: -50px;
      top:10px;
    }
    .linha{
      max-width: 200px;
    }
    .subelemento{
      position: relative;
      left: 40px;
      top: -8px;
      margin: 3px 0px;
    }
    .subtitulo{
      font-size: 10px;
      left: -10px;
      top:-7px;
    }
  }
}
@media (min-width:800px) {
  .offcanvas-start{
    width: 230px;
  }
  .elemento{
    position: relative;
    margin: 10px 0px;
    left: -20px;
  }
  .titulo{
    font-size: 20px;
    left: -65px;
    top:1px;
  }
  .linha{
    max-width: 230px;
    position: relative;
  }
  .subelemento{
    position: relative;
    left: 40px;
    top: -8px;
    margin: 3px 0px;
  }
  .subtitulo{
    font-size: 15px;
    left: -20px;
    top:-16px;
  }
}
