@import url('https://fonts.googleapis.com/css2?family=Kanit&family=Neonderthaw&family=Source+Serif+4:ital,opsz,wght@1,8..60,200&display=swap');
body{
  background-color: black;
  color: white;
  font-family: 'Kanit';
}
/* ComeÃ§o*/
.imagem_usuario{
  border-width: medium;
  border-color: blue;
}
#pessoa{
  position: relative;
  top: 10px;
  left: 10px;
  height: 100px;
  width: 100px;
}
.logo{
  position: relative;
  top: -10px;
  left: 70px;
  text-align: center;
  font-size: 1.1em;
  background-image: linear-gradient(to top,Aqua,Navy);
  height: 25px;
  width: 25px;
  color: white;
}
.borda{
  height: 120px;
  width: 120px;
}
h1{
  display: flex;
  justify-content: center;
}
h2, .topicos{
  font-size: 1.3em;
  display: flex;
  justify-content: center;
}
/* Fim */
/*----------------------------------------------------------------------------------------------------------------------------------------------------*/
/*ComeÃ§o*/
.menu{
  position: relative;
  border-top-left-radius: 1.2rem !important;
  border-top-right-radius: 1.2rem !important;
  border-bottom-left-radius: 1.2rem !important;
  border-bottom-right-radius: 1.2rem !important;
  top: 40px;
  padding: 0 45px;
  background-color: white;
}
.principal, .secundario {
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #000;
  background-image: linear-gradient(to top,Aqua,Navy);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: black;
}
.secundario{
  font-size: 1.3em;
  /* margin-left: 30px; */
  justify-content:
  flex-start;
}
.seta{
  margin: 0;
  color: black;

}
#arw{
  position: absolute;
  right: 0;
  padding-right: 40px 
}
.separador{
  height: 1px;
  /* padding: 0 45px; */
  /* max-width: 95%; */
  background-image: linear-gradient(to top,Aqua,Navy);
}
.separadorV{
  height:90px;
  width: 1px;
  --bs-gutter-x: 0px;
  /* margin-left: 20px; */
  background-image: linear-gradient(to top,Aqua,Navy);
}
.investimentos{
  width: 55%;
}
.not{
  margin: 20px 0px;
}
.sec-2{
  margin-top: 20px;
}
.margem{
  margin-bottom: -10px;
}
.row{
  margin-right: 0;
}
.rendimento{
  position: fixed;
  bottom: 0;
  margin-left: -33px;
  height: 42px;
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: #000;
  background-image: linear-gradient(to top,Aqua,white);
}
.espaco{
  height: 40em;
}
/* Fim */
/* ComeÃ§o */
.topicos{
  margin: 20px 0px;
}
.topicos p{
  margin-left: 60px;
  margin-top: 10px;
}
.menor{
  margin: 10px 0px;
  height: 30px;
}
.footer-ajuda{
  font-size: 1em;
  margin-top: 20px;
}
/* Fim */
